* {
    margin: 0;
    padding: 0;
}

header {
    /* background-color: #1c2026; */
    padding: 20px 0px;
    padding-left: 2.5rem;
    word-spacing: 50px;
    /* position: fixed; */
    width: 100%;
    border: blue solid 1px;
}

body {
    font-family: verdana, Geneva, Tahoma, sans-serif;
}

body a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.perfil-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#apres {
    margin-bottom: 20px;
    /* background-color: #1c2026; */
    padding-top: 60px;
}

#apres div {
    justify-content: flex-start;
}

#apres img {
    justify-content: flex-end;
}

#sobre {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 60px;
    padding-inline: 50px;
}

.iconesContainer {
    border: red solid 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.iconesBloco {
    border: blue solid 2px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.iconeLink {
    width: 50px;
    height: 50px;
}

#habil {
    padding-top: 60px;
}

#habil h3 {
    text-align: center;
}

.habilidadesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 30px;
    border: blue solid 1px;
}

.habilidadesBloco ul {
    list-style-type: none;
    border: red solid 1px;
}

footer {
    background-color: #788a98;
    text-align: center;
      /* border: 10px solid #1c2026; */
}

.icone {
    fill: #1c2026;
    /* stroke: #FFFFFFFF; */
    stroke-width: 10px;
    width: 50px;
    height: 50px;
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}